<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
  </head>
  <body>
    <div class="container">
      <h1>Upload an Image for Prediction</h1>
      <form action="/" method="post" enctype="multipart/form-data">
          <label for="file-upload">Choose File</label>
          <input type="file" id="file-upload" name="file" onchange="showFileName()">
          <p class="file-info" id="file-name">No file chosen</p>
          <div class="button-container">
              <input type="submit" value="Upload">
          </div>
      </form>
  </div>
  </body>
  <script>
    // Function to show the file name after selection
    function showFileName() {
        const fileInput = document.getElementById('file-upload');
        console.log(fileInput.files);
        
        const fileName = fileInput.files[0] ? fileInput.files[0].name : 'No file chosen';
        document.getElementById('file-name').textContent = fileName;
    }
</script>
</html>
